@font-face {
    font-family: 'digital-7regular';
    src: url('digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #E6E7E9;
    font-family: 'digital-7regular';
}

.logo {
    font-size: 25px;
    text-align: center;
    color: #1C2023;
}

.calculator{
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
}

.calculator-screen {
    width: 50%;
    height: 70px;
    background-color: #1C2023;
    color: #F9D388;
    text-align: right;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 40px;
    font-family: 'digital-7regular';
}

.calculator-keys {
    width: 50%;
    margin: auto;
    padding-top: 10px;
}

.row {
    display: flex;
}

button {
    height: 65px;
    background-color: #374556;
    border: 0 solid #374556;
    font-size: 32px;
    color: #F9D388;
    width: 25%;
    outline: none;
    border-radius: 20px;
    box-shadow: 5px 10px 8px #888888;
    margin: 5px 5px;
    font-family: 'digital-7regular';
    cursor: pointer;
}

.all-clear, .zero-btn {
    width: 52%;
}

.operator, .equal-sign, .all-clear, .percentage {
    background-color: #F9D388;
    color: #374556;
    border: 0 solid #F9D388;
}

button:hover {
    background-color: rgb(141, 141, 141);
    transition: 0.3s;
}

.operator:hover, .equal-sign:hover, .all-clear:hover, .percentage:hover {
    background-color: darkorange;
    transition: 0.3s;
}

@media all and (max-width: 1000px) {
    .calculator-screen {
        width: 70%;
    }

    .calculator-keys {
        width: 70%;
    }
}

@media all and (max-width: 670px) {
    .calculator-screen {
        width: 80%;
    }

    .calculator-keys {
        width: 80%;
    }
}
